<h1> <%= @movie[:original_title] %> </h1>

<section id="headline">
  <p>Vote <%= @movie[:vote_average]%></p>
  <p>Runtime <%= runtime_format(@movie[:runtime]) %></p>
  <p>Genre: <%= @movie[:genres].map{|g| g[:name]}.join(", ") %>
</section>
