<div class="center">
  <% if current_user %>
    <%= button_to "Log Out" %>
  <% else %>
    <%= button_to("Create New User", register_path, method: :get) %>
    <%= button_to("Log In", login_path, method: :get) %>
  <% end %>
</div>
<% @users.each do |user| %>
  <p><%= link_to(user.name, user_path(user)) %> </p>
<% end %>