<div class="center">
  <%= button_to("Create New User", register_path, method: :get) %>
</div>
<% @users.each do |user| %>
  <p><%= link_to(user.name, user_path(user)) %> </p>
<% end %>

 <%= link_to 'Log In', login_path%>

  <%= link_to 'My dashboard', login_path%>